<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <add name="cruzeConnectionString" connectionString="Data Source=.;Initial Catalog=tst_xs;User ID=tst_xianshang;Password=TSTxianshang13579123456;Enlist=true;Pooling=true;Max Pool Size=3000;Min Pool Size=0;Connection Lifetime=1000;packet size=3000" providerName="System.Data.SqlClient" />

    <!--<add name="cruzeConnectionString" connectionString="Data Source=.;Initial Catalog=projecttest;User ID=sa;Password=111111;Enlist=true;Pooling=true;Max Pool Size=3000;Min Pool Size=0;Connection Lifetime=1000;packet size=3000" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="weight" value="99" />
    <!--Lottery Rate-->
    <add key="login" value="http://newwxs.tingmimi.net/tst-web/auth/login.do" />
    <add key="customErrors" value="on" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" />
    <httpRuntime requestValidationMode="4.0" executionTimeout="3600" maxRequestLength="2048576" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="algorithmSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.tingmimi.net/algorithm.asmx" binding="basicHttpBinding" bindingConfiguration="algorithmSoap" contract="algorithm.algorithmSoap" name="algorithmSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
